
    /*
        user page
        --------
    
    */
.btnmainmenu
    {
        background-color:#ADD8E6;
        border:none;
        width:100%;
        height:55px;
        
        font-size: 20px;
        font-weight:bold;
        color:blue;
        font-family:Times New Roman Times, serif;
        
    }

.gui_type
    {
        /*background-color:#228B22;*/
        border:none;
        width:100%;
        height:55px;
        
        font-size: 20px;
        font-weight:bold;
        color:white;
        background-color: blue;
        font-family:Times New Roman Times, serif;
    }
.lable_menu_title
    {
        /*background-color:#228B22;*/
        border:none;
        width:100%;
        height:55px;
        
        font-size: 20px;
        font-weight:bold;
        color:blue;
        font-family:Times New Roman Times, serif;
    }
.comments_on_problem
    {
        /*background-color:#228B22;*/
        border:none;
        width:100%;
        height:55px;
        
        font-size: 20px;
        font-weight:bold;
        color:#00BFFF;
        font-family:Times New Roman Times, serif;
    }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.selector
    {
        background-color: green;
        border-radius: 25;
        
    }

/*MY MODELS*/
.modal-header, h4, .close
    {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
    }
.modal-footer {background-color: #f9f9f9; }

/*Styling my tittel*/
.Modal_Tittles
    {
        background-color: green;
        font-size: 20px;
        font-family: Times New Roman Times, serif;
        color: blue;
    }
.Modal_Subs
    {
        color: blue;
        font-size: 18px;
        font-family: Times New Roman Times, serif;
    }
.labels
    {
        font-size: 17px;
        font-family: Times New Roman Times, serif;
    }

.MyText
    {
        background-color: white;
    }







/*globle all qns pages*/

#Load_paper_Div
    {
        float:right;
        width:120px;
        height:34px;
        margin-top:5px;
        
    }
#saveBtnDIV
    {
        float:left;
        margin-top:5px;
        margin-left: 15px;
        width:100px;
        height:34px;     
    }
.control_lables
    {
        width:100%;
        height:37px;
        font-size: 17px;
        font-weight:bold;
        color:#A0522D;
        font-family:Times New Roman Times, serif;
    }
.Reversi_Box_File_Img
    {
        width: 100%;
        height: 200px;
    }
.Space_only
    {color:#5F9EA0;}
/*styling unik icon...........*/
.imgcontainer {
    text-align: center;
    height: 180px;
}

.image
    {
        width: 165px;
        margin-top: -9px;
        height: 160px;
    }


/*MAIN ACCORDION*/
.accordionHeading
	{
		cursor:pointer;
        font-size: 19px;
        font-weight:bold;
        background-color:;
        color:blue;
        font-family: Times New Roman Times, serif;
	}
/*styling the Faculty lables*/
.Facultylables
	{
		cursor:pointer;
        font-size: 19px;
        font-weight:bold;
        color:white;
        font-family:Times New Roman Times, serif;
	}

/*styling the background*/
#accordionBckGD
	{background-color: #E6E6FA; } 
/*styling the course units*/
.courseUnits
    {
        cursor:pointer;
        font-size: 18px;
        font-weight:bold;
        color:blue;
        font-family:Times New Roman, serif;   
    }

/*view more button education*/
#MoreCourses
        {
          margin-top: -200px;
          margin-left: -50px;

        }

/*=============== POP UPS ================*/

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #708090;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #708090 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.yearslable
    {
        font-size: 18px;
        font-weight:bold;
        color:white;
        font-family:Times New Roman Times, serif;
        cursor: pointer;
    }

/*====================================================================================================*/*/

                                    /*
                                    supplier page
                                    */
.Cust_problems
    {
         margin-left: 11px;
        margin-right: 11px; 
        color: red;
    }
.lable_login_title
    {
        border:none;
        width:100%;
        height:55px;
        
        font-size: 20px;
        font-weight:bold;
        color:red;
        font-family:Times New Roman Times, serif;
    }
.loged_in_title
   {
        /*background-color:#228B22;*/
        border:none;
        font-size: 20px;
        font-weight:bold;
        color:red;
        font-family:Times New Roman Times, serif;
    }

    
#saveBtnDIV
    {
        float:left;
        width:100px;
        height:34px;     
    }
    

    
#RegistryNewBtnDiv
    {
        float:right;
        width:100px;
        height:34px;
        margin-top:8px;
        margin-right: 20px;
    }
#RegistryNewBtnDiv_tech
    {
        float:right;
        width:100px;
        height:34px;
        margin-top:8px;
        margin-right: 70px;
    }


/*styling the text in side the divs*/
#UpdateRegistry 
    { 
        margin-left: 11px;
        margin-right: 11px; 
    }
.WhatsNewBtn
    {
        width:100%;
        height:37px;
        font-size: 20px;
        font-weight:bold;
        color:#FFA500;
        font-family:Times New Roman Times, serif;
        /*background-color: none;  */
    }

/*also on supplier gui*/
.form_class
    {
        margin-left: 13px;
        margin-right: 13px; 
    }
/*====================================================================================================*/*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +         MAIN NAVIGETION  +
                                               +                          + 
                                               ++++++++++++++++++++++++++++
                                            */

.CloseIcone
     {
        font-size:35px;
        color:white;
        font-weight:bold; 
    
    }

.HomeIcon
    {
        font-size:45px;
        color:black;
        font-weight:bold;

    }
.Icons
    {
        font-size:30px;
        color:white;
        font-weight:bold;
    
    }
    
    
.IconsRevise
    {
        font-size:40px;
        color:white;
        font-weight:bold;
    
    }

.header
    { 
        position: fixed;
        height: 100%;
        width: 0;
        padding-top: 60px;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color:  #FFA500; #F0F8FF; /* of de naigetion*/   
    }
    
.header a
    {   
        color:blue;
        text-decoration:none;
        transition:0.3s; 
        display:block;
        padding:10px 10px;
        font-size: 20px;
        font-family:Times New Roman Times, serif;   
    }    
.header .closebtn
    {
       
        position:absolute;
        right: 2px;
        margin-left:50px;
        top:0;
        font-size:30px; 
        
    }

/* MAIN DIVISIONS */

#main_body
    {
        background-color:#F5F5F5;
    }
 
#NaviDiv
    {
        background-color:#FFA500;/*saddle brown*/
        margin-top: -50px;
        height:66px;
    }


/*MIAN BODY*/

.Body
    {
        background-color:#F5F5F5;
        margin-top: 30px;
        

    }